[Desktop Entry]
Name=Palemoon
Exec=/home/userh/.palemoon-can/palemoon
Icon=/home/userh/.palemoon-can/browser/chrome/icons/default/default128.png
Type=Application
Categories=Network
