[Desktop Entry]
Name=Firefox
Exec=/home/userh/.firefox-can/firefox-can
Icon=/home/userh/.firefox-can/browser/chrome/icons/default/default128.png
Type=Application
Categories=Network
